* {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    word-spacing: .15em;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0b0b0b;
    font: 14px/1.4 'Open Sans', arial, sans-serif;
}

#navbar {
    height: fit-content;
    background-color: #0b0b0b;
    display: flex;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    overflow: visible;
    width:80%;
}

#navbar .logo {
    width: fit-content;
}

strong {
    font-size: 2.5rem;
}

/* Hamburger icon hidden on desktop */
#menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, white 0px, white 5px, #002f63 8px);
    border-radius: 50%;
    cursor: pointer;
    fill: #002f63;
}

/* Links (visible on desktop) */
#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

ul li {
    list-style-type: none;
    width: fit-content;
}

.li_links {
    margin-left: 5%;
    margin-right: 3%;
    width: fit-content;
}

li:after {
    content: '';
    margin: auto;
    margin-top: 5%;
    display: block;
    height: 3px;
    width: 0%;
    background-color: transparent;
    transition: all 0.4s ease;
}

li:hover:after {
    width: 100%;
    background-color: #002f63;
}

li a {
    width: 100%;
    font-weight: bold;
}

#menu-toggle.rotated {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}

#menu-toggle {
    transition: transform 0.4s ease;
}


@media (max-width: 1040px) {
    #menu-toggle {
        display: block;
    }

    #links {
        position: absolute;
        top: 75%;
        right: 10%;
        background-color: transparent;
        flex-direction: column;
        gap: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        width: fit-content;
        border-radius: 5px;
        z-index: 999;
    }

    #links.show {
        max-height: 300px;
        opacity: 1;
        pointer-events: auto;
    }

    ul {
        flex-direction: column;
        width: fit-content;
    }

    .li_links {
        margin: 0;
        width: 100%;
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li:after {
        display: none;
    }

    li a {
        font-size: 1.2em;
        display: block;
        width: 100%;
        margin: 7.5px 10px;
        text-align: center;
    }

    #navbar .logo {
        width: fit-content;
    }

    strong {
        font-size: 2.5rem;
        width: fit-content;
    }
}


@media (max-width: 540px) {
    strong {
        font-size: 20px;
        width: fit-content;
    }

    li a {
        font-size: 14px;
    }

    #menu-toggle {
        width: 25px;
        height: 25px;

    }
}

/* ----- Hero Section ----- */

#hero {
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    z-index: 0;
}

#hero_text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#hero_text h3 {
    font-size: 2rem;
    font-weight: 300;
    height: fit-content;
}

#hero_text h1 {
    font-size: 4rem;
    height: fit-content;
    font-weight:700;
}

#hero_text h1 span {
    border-right: 3px solid #002f63;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.7s step-end infinite;
    padding-right:4px;
}


@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#hero_text h4{
    letter-spacing:0.5px;
    font-weight: 400;
    font-size: 20px;
}

#hero_text a {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
}


#hero_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_image svg {
    max-width: 70%;
}

@media (max-width: 1230px) {
    #hero {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:100px;
    }

    #hero_text h3 {
        font-size: 1.6rem;
        font-weight: 300;
    }

    #hero_text h1 {
        font-size: 3.5rem;
    }

    #hero_text {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
       height:40%;
    }

    #hero_image{
        height:60%;
    }
    #hero_image svg {
        height: 80%;
    }

}

@media (max-width: 540px) {
    #hero{
        align-items: flex-start;
        justify-content: flex-start;
    }
    #hero_text{
        height:50%;
    }
    #hero_text h3 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    #hero_text h1 {
        font-size: 2.4rem;
    }

    #hero_text h4{
        font-size: 14px;
    }

    #hero_text a{
        font-size: 14px;
    }
    #hero_image{
        height:50%;
        width:100%;
    }
    #hero_image svg {
        max-width:100%;
    }

}


/* ----- About Section ----- */

.heading {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    overflow-y: hidden;
}

#about {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 10%;
}

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about_right {
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
}

#about-left {
    height: fit-content;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    padding-left:0;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: auto;
}

.tech {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 2px solid #002f63;
}

.container span{
    overflow-y: hidden;
    
}

.hobbies {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 2px solid #002f63;
}

.svgs {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.logos {
    height: 60px;
    transition: .2s;
    margin: 20px
}

.logos:hover {
    transition: scale(1.09);
}

p {
    font-size: medium;
    margin-bottom: 10px;
}

#about_para {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: right;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media (max-width:1076px) {
#about .heading{
    margin-bottom:10%;
}

    #about {
        margin-top: 10%;
        overflow-y:hidden;
        height: fit-content;
    }

    #about .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    #about-left {
        width: 100%;
    }

    #about_right {
        width: 100%;
    }
}

@media (max-width: 540px) {
    #about-left{
        flex-direction: column;
       
    }
    .tech{
        width:100%;
        border:none;

    }
    .hobbies{
        width:100%;
        border:none;
    }
    .hobbies span{
        margin-top:20px;
    }
    .logos{
        width:50px;
        margin:0 15px;
        height:fit-content;
    }
    #about_right{
        padding-top:20px;
    }
    #about{
       
    }
}

/* ----- Projects Section ----- */
#projects {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

#projects .heading{
    margin-bottom:15%;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.02);
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #262626;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: bottom 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project:hover .project-info {
    bottom: 0;
}

.project-info p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.visit-btn {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    width:fit-content;
    margin: auto;
}

.visit-btn:hover {
    background-color: #e0e0e0;
}

.project-info p strong{
    font-size: 14px;
}



@media (max-width: 1534px) {
    #projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1010px) {
    #projects-container {
        grid-template-columns: 1fr;
    }
}

/* ----- Contacts Section ----- */

#contact {

    margin-bottom: 2%;
    height: 100vh;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.social-icons a {
    margin-right: 20%;

}

.social_logos {
    height: 25px;
    width:fit-content;
    transition: .2s;
    margin: auto 3px;
}
.email p{
    padding-bottom:3.5px;
}

.social_logos:hover {
    transition: scale(1.09);
}

.left-items {
    margin: auto;
}

.contact-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    margin-top: 5%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin-top: 5%;
}

form {
    margin: auto;
    width: 100%
}

.right-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left:10px;
}

form .input-box,
form textarea {
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    overflow-x: auto;
}

.subtitle {
    font-size: 50px;
    font-weight: bold;
}

.btn {
    display: block;
    background-color: transparent;
    margin-top: 14px;
    width: fit-content;
    border: 3px solid #002f63;
    padding: 13px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: .2s;
    font-size: 14px;
}

.btn:hover {
    background-color: #002f63;
    color: #fff;
    cursor: pointer;
}

.icon-text {
    display: flex;
    flex-direction: column;
}

.icon-text div{
    height:fit-content;
}

.email {
    display: flex;
}

.email p {
    padding-top: 20px;
    padding-left: 5px;
    font-size: 14px;
}

.email img {
    margin-bottom: 14px;
}

.tel {
    display: flex;
}

.tel p {
    padding-bottom: 14px;
    padding-left: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.tel img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn2 {
    height: 40px;
    margin-top: 14px;
    border: 3px solid #002f63;
    border-radius: 5px;
    padding: 2px;
    transition: .2s;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn2:hover {
    background-color: #002f63;
    color: #fff;
    cursor: pointer;
}

.left-items .btns {
    margin-top: 10px;
}

.top-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width:1024px) {
    #contact {
        margin-top: 10%;
        height: fit-content;
    }

    .container {
        flex-direction: column;
        width: 120%
    }

    .contact-left {
        width: 100%;
        justify-content: center;
    }

    .contact_right {
        width: 100%;
        justify-content: center;
    }

    .right-items {
        width: 100%;
        padding-left:0;
    }
    .right-items input, #text-area{
        margin:10px 0;
     }
}

footer p {
    text-align: center;
}

footer {
    position: relative;
}

.social_logos, .email p{
    margin-top:10px;
}
.email p{
    padding-top:3px;
}
@media (max-width:768px) {
    footer p {
        padding-top: 120px
    }

    .heading {
        font-size: 12vmin;
    }

    span {
        font-size: .9em;
    }

    p {
        font-size: 0.9em;
    }
    .subtitle{
        width:100%;
        text-align: center;
    }
    .right-items input, #text-area{
        margin:5px 0;
     }
     .left-items .btns{
        margin-top:0;
     }
     .btns .btn{
        margin-top:5px;
     }
}

@media (max-width: 540px){
    .subtitle{
        font-size: 2rem;
    }
    .container .contact-left p,.container .contact-right input{
        font-size: 14px;
    }
    .contact-left{
        width: 70%;
    }
    .left-items{
        width:100%;
    }
    .contact-right{
        width: 70%;
    }
    .social-icons{
        justify-content: flex-start;
    }
    .social_logos {
        height: 20px;
    }
    .email p{
        margin-top:8px;
    }
    .btns .btn{
        padding:8px 25px
     }
     .icon-text div{
        height:40px;
    }
} 
